

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

p.alignleft {
	float: left;
}
p.alignright {
	float: right;
}
div.embed {
	text-align: center;
}















